html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit; 
}

:root {
    --color-white: #fff;
    --color_gold: #fce058;
    --color_gold-active: #ffc83b;
    --color_black-default: #424242;
    --color_text-default: #101012;
    --color_gray-blue: #f5f7fa;
}

@font-face {
    font-family: "Mulish";    
    src: url("../fonts/MulishRegular.woff2") format("woff2"), url("../fonts/MulishRegular.woff") format("woff");
    font-weight: 400;
    font-display: swap;
    font-style: normal;    
}

@font-face {
    font-family: "Mulish";    
    src: url("../fonts/MulishSemiBold.woff2") format("woff2"), url("../fonts/MulishSemiBold.woff") format("woff");
    font-weight: 600;
    font-display: swap;
    font-style: normal;    
}

@font-face {
    font-family: "Mulish";    
    src: url("../fonts/MulishBold.woff2") format("woff2"), url("../fonts/MulishBold.woff") format("woff");
    font-weight: 700;
    font-display: swap;
    font-style: normal;    
}

@font-face {
    font-family: "Mulish";    
    src: url("../fonts/MulishExtraBold.woff2") format("woff2"), url("../fonts/MulishExtraBold.woff") format("woff");
    font-weight: 800;
    font-display: swap;
    font-style: normal;    
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: var(--color_black-default);
    background-color: var(--color-white);
}

main {
    flex: 1;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none; 
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

.container {
    padding: 0 65px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.section__container {
    padding: 0 243px;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
}

.btn {
    background-color: var(--color_gold);
    border: 1px solid transparent;
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    font-size: 18px;
    border-radius: 12px;
    padding: 16px;
    transition: all 0.4s ease;
    color: var(--color_black-default);
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.btn.small {
    padding: 16px 28px;
}

.btn.middle {
    width: 290px;
}

.btn.big {
    width: 350px;
}

.btn:hover {
    box-shadow: 0px 0px 10px 0px rgba(208, 157, 26, 0.46) inset;
}

.btn:active {
    background-color: var(--color_gold-active);
}

.btn:disabled {
    border: 1px solid var(--color_black-default);
    background-color: transparent;
    box-shadow: none;
    cursor: not-allowed;
}

/*Header*/
.header {
    height: 114px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: transparent;
    transition:  background 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
}

.header.overlay-visible  {
    background-color: rgba(231, 231, 231, 0.1); 
    backdrop-filter: blur(10px); 
}

.logo__icon {
    width: 81px;
    height: 74px;
}

.header__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;

}

/*Hero*/
.hero {      
    padding-top: 180px;
    margin-bottom: 170px;
    position: relative;
}

.hero__container {    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
}

.hero__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    z-index: -1;
}

.hero__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.hero__title {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 32px;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeft 3s forwards;
}

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero__subtitle {
    margin-bottom: 32px;
    color: var(--color_text-default);
    line-height: 20px;
}

.hero__btn {
    margin-bottom: 32px;
    
}

.hero__descr {
    color: var(--color_text-default);
    line-height: 24px;
}

.hero__swiper {
    width: 500px;
}

/*About*/
.about {
    margin-bottom: 100px;
}

.about__container {  
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
    height: 1150px;
    background-image: url(../images/about.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;
    transform: translateY(-27%);
}

.about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 100%;
}

.about__icon {
    width: 140px;
    height: 140px;
    border: 1px solid var(--color_text-default);
    border-radius: 50%;
    background-color: var(--color-white);
}

.about__text {
    display: block;
    font-weight: 700;
    color: var(--color_text-default);
    text-align: center;
}

.about__descr {
    margin-bottom: 55px;
    text-align: center;
    margin-top: auto;
    font-size: 24px;
    font-weight: 600;
    color: var(--color-white);
}

/*Advantages*/
.advantages {
    margin-bottom: 100px;
}

.advantages__container {
    display: grid;
    gap: 52px;
    align-items: center;
}

.advantages__swiper {
    width: 100%;
  }

.advantages-slide{
    background-position: center;
    background-size: cover;
    width: 660px;
    height: 500px;
}

.advantages-slide img {
    display: block;
    width: 100%;
}

.advantages__list {
    margin-bottom: 28px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
}

.advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: 100%;
}

.advantages__img {
    width: 63px;
    height: 63px;    
}

.advantages__text {
    display: block;
    font-weight: 600;
    color: var(--color_text-default);
    text-align: center;
}

.advantages__buttons {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    width: 100%;
}

.advantages__btn {
    width: 350px;

}

.advantages__btn-disabled {
    background-color: var(--color_gray-blue);
}

/*FAQ*/
.faq {
    margin-bottom: 100px;
}
.faq__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.faq__title {
    font-weight: 800;
    font-size: 32px;
}

.faq-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    overflow: hidden;
}

.faq-card__header {    
    width: 100% ;
}

.faq-card__btn {
    padding: 10px 10px 10px 66px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    background-color: transparent;
    color: var(--color_text-default);
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background 0.3s ease-in-out;
}

.faq-card__btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: var(--color-white);
    border: 3px solid var(--color_text-default);
    transition: background 0.3s ease-in-out;
}

.faq-card__btn:hover::before {
    background-color: var(--color_gray-blue);
}

.faq-card__arrow {
    transition: transform 0.3s ease-in-out;
}

.faq-card__arrow path {
    fill: var(--color_gray-blue);
    transition: fill 0.3s ease-in-out;
}

.faq-card__body {
    padding-left: 66px;
    height: 0;
    transition: height 0.3s ease-in-out;
}

.faq-card__text {
    font-size: 16px;
    color: var(--color_black-default);
}

.faq-card.open .faq-card__btn::before {
    background-color: var(--color_gold);
}

.faq-card.open .faq-card__arrow {
    transform: rotate(180deg);
}

.faq-card.open .faq-card__arrow path {
    fill: var(--color_gold);
}

/*Footer*/
.footer {
    background: var(--color_gray-blue);
    height: 90px;
    position: relative;
}

.footer__container {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footer__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.footer__link {
    font-weight: normal;
    color: var(--color_text-default);
}
  
.footer__icons {
    margin: 0 auto;
    padding: 0 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: -73px;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 1440px;
    width: 100%;
    height: 75px;
}
  
.footer__icon {
    width: 77px;
    height: 71px;
}
  
/* .visible {
    opacity: 1;
    visibility: visible; 
    transform: translateY(0);   
} */

/* .hero {
    opacity: 0;
    visibility: hidden;
    /* transform: translateY(-100%); 
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}



.one {
    background-color: antiquewhite;
    height: 1300px;
}

.second {
    height: 300px;
    background-color: aquamarine;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.second.visible {
    opacity: 1;
    visibility: visible;
    
}
.thre {
    height: 800px;
    background-color: bisque;
} */